

* {

  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  background-image: url('https://i.ibb.co/Gk91zH5/bang-employed.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
